@charset "utf-8";
#header-inner {
	padding-left:3%;
}
#header {
	color : #F5F8FA;
}
#header {
	background : #5279E7;
}
#header li {
	list-style-type : none;
	display : inline-block;
	margin-right : 10px;
}
#header li a {
	text-decoration : none;
	font-weight : bold;
	line-height : 3.5em;
}
#header li a,
#header li i{
	font-size : 120%;
	color : #fff;
}
#header li a:visited {
	color : #fff;
}
#gnav {
	background-color : #F5F8FA;
	border-bottom: 1px solid #DDDDDD;
	padding: 10px 10px;
}
#gnav p{
	float:left;
	font-size : 120%;
	/*line-height: 4.5em;*/
}
#gnav i{
	color : #5279E7;
}
#gnav span{
	font-weight:bold;
}
#gnav .order-nav {
	display : block;
	font-weight:normal;
	margin-top : 5px;
}
#gnav .order-nav a {
	text-decoration : none;
	display : inline-block;
	color : #5279E7;
}
#gnav .order-nav .current {
	font-weight : bold;
}
#gnav .order-nav .current:before {
	display : inline-block;
	content : "►";
	margin-right : 5px;
}

#gnav .separator {
	visibility : hidden;
	padding : 0 4px;
	color : #ccc;
	cursor : text;
}
#gnav .button{
	float : right;
	padding:5px 0;
}
#gnav .button  a{
	display : block;
	font-size : 110%;
	font-weight : bold;
	color: #fff;
	background : #5279E7;
	padding : 10px 0;
	min-width: 9.5em;
	text-align:center;
	text-decoration:none;
	border-radius : 3px;
}
#caption {
	padding : 7px 10px;
	border-bottom: #ddd solid 1px;
}
#caption p {
	font-size : 120%;
	color : #888;
}
#main .normal_sentence {
	padding : 0 10px;
}
#main .normal_sentence h2 {
	font-size: 150%;
	line-height : 2.5em;
	padding : 0;
}
#main .normal_sentence p {
	font-size: 120%;
	margin-bottom : 10px;
}
#main h2.tubuyaku {
	font-size: 150%;
	line-height : 2.5em;
	border-bottom : #DDDDDD 1px solid;
	padding-left : 0.5em;
}
#main li.post_box,
#main li.comment_box {
	border-bottom: #ddd solid 1px;
	padding : 10px 0;
}
#main li.post_box.noborder {
	border : none;
}
#main li.comment_box.deleted {
	background-color : #fafafa;
}
#main .post_box_inner,
#main .comment_box_inner {
	padding: 0 15px;
}
#main li.comment_box.deleted .comment_box_inner p {
	font-size : 110%;
	color : #ccc;
}
#main .post_top,
#main .comment_top {
	font-size:0.7rem;
	margin-bottom : 5px;
}
#main .post_top a,
#main .comment_top a {
	color : #00608d;
	text-decoration:none;
}

#main .post_top .separator,
#main .post_box .post_action .separator,
#main .comment_top .separator,
#main .comment_box .comment_action .separator{
	visibility : hidden;
	padding: 0 2px;
	color : #ccc;
}
#main .post_top .unique_id,
#main .comment_top .unique_id {
	color : #666;
}

.comment_top a.comment_block {
	float : right;
}

#main .post_box .post_action,
#main .comment_box .comment_action {
	padding : 8px 0 2px 0;
	font-size: 115%;
}
#main .post_box .post_body a,
#main .post_box .post_body h1,
#main .comment_box .comment_body a,
#main .comment_box .comment_body h1{
	text-decoration : none;
	color : #333;
	font-size: 140%;
	font-weight : normal;
	line-height : 1.6em;
}
#main .post_box .post_body h1.reported {
	color : #888888;
}
#main .post_box .post_action .ouen,
#main .post_box .post_action .comeouen,
#main .comment_box .comment_action .ouen,
#main .comment_box .comment_action .comeouen,
.comment_action .reply {
	text-decoration : none;
	color : #5279E7;
}
#main .post_box .post_action .ouen .num,
#main .post_box .post_action .comeouen .num,
#main .comment_box .comment_action .ouen .num,
#main .comment_box .comment_action .comeouen .num {
	font-weight : bold;
	color : #5279E7;
}
#main .post_box .post_action .ouen.disable,
#main .post_box .post_action .ouen.disable .num,
#main .post_box .post_action .comeouen.disable,
#main .post_box .post_action .comeouen.disable .num,
#main .comment_box .comment_action .ouen.disable,
#main .comment_box .comment_action .ouen.disable .num,
#main .comment_box .comment_action .comeouen.disable,
#main .comment_box .comment_action .comeouen.disable .num{
	color : #888888;
	pointer-events:none;
}
#main .post_box .post_action .comme,
#main .comment_box .comment_action .comme {
	text-decoration : none;
	color : #5279E7;
}
#main .post_box .post_action .delete,
#main .comment_box .comment_action .delete,
#main .post_box .post_action .report {
	text-decoration:none;
	color : #888888;
	float : right;
}
#main .comment_header h3 {
	padding : 10px;
	font-weight : bold;
	font-size : 120%;
	background: #F5F8FA;
	border-top : 1px solid #DDDDDD;
	border-bottom : 2px solid #DDDDDD;
	line-height : 2em;
}

#main #tubuyaki,
#main #comment_form {
	margin : 10px 10px;
	padding : 7px;
	border : 1px solid #DDDDDD;
	background : #FAFAFA;
	font-size : 130%;
}

#main #tubuyaki #txtmax,
#main #comment_form #txtmax {
	font-weight : bold;
	color : #888888;
}
#main #tubuyaki #PostBody,
#main #comment_form #PostBody,
#main #tubuyaki #CommentBody,
#main #comment_form #CommentBody {
	width : 100%;
	font-size : 130%;
	resize: none;
}
#main #tubuyaki .caution,
#main #comment_form .caution {
	background : #fff;
	border : #ccc solid 1px;
	padding : 5px 2px;
	margin : 10px 0;
}
#main #tubuyaki .submit,
#main #comment_form .submit {
	text-align : center;
}
#main #tubuyaki .submit input,
#main #comment_form .submit input {
	font-size : 110%;
	padding : 7px 25px;
	font-weight : bold;
	color : #333;
	cursor : pointer;
}
#tubuyaki .checkbox {
	margin-bottom : 15px;
}
#tubuyaki .error-message{
	color : #FF6860;
}
#main #comment_form .error{
	color: #FF6860;
	font-size : 110%;
}
#main .comment-section {
	padding : 0 10px;
	text-align:center;
	margin : 10px 0;
}
#main .comment-section a.flat-button {
	background : #5279E7;
	color : #fff;
	display : inline-block;
	text-decoration : none;
	border-radius : 3px;
	min-width : 8em;
	padding : 10px;
	font-size :120%;
}

#pagenation {
	/*margin : 10px 0; */
	padding : 10px 0;
	text-align:center;
}
#pagenation .prev,
#pagenation .next{
	line-height : 2em;
}
#pagenation .prev.disabled,
#pagenation .next.disabled{
	display:none;
}
#pagenation a {
	display : inline-block;
	color : #fff;
	background : #5279E7;
	min-width : 8em;
	text-align:center;
	margin : 3px;
	text-decoration : none;
	border-radius : 3px;
	padding:10px;
	font-size : 120%;
	font-weight : bold;
}
#sub {
	padding : 10px 0 20px;
}
#sub .explanation {
	/* border-bottom : 1px solid #DDDDDD; */
	padding-bottom : 1em;
}
#sub .explanation h3 {
	padding : 10px;
	font-weight : bold;
	font-size : 120%;
	background: #F5F8FA;
	border-top : 1px solid #DDDDDD;
	border-bottom : 1px solid #DDDDDD;
	line-height : 2em;
}
#sub .explanation .description {
	color : #333;
	font-size: 140%;
	padding : 7px 0;
}
#sub .explanation .button {
	text-align : center;
}
#sub .explanation .button a {
	padding: 8px;
	display : inline-block;
	background : #5279E7;
	color : #fff;
	text-decoration : none;
	font-size : 120%;
	font-weight : bold;
	line-height : 2em;
	border-radius : 3px;
}

#sub .explanation ul {
	padding : 7px 5px;
}
#sub .explanation li {
	font-size: 130%;
	list-style-type: disc;
	margin-left : 20px;
}
#sub .normal-item {
	margin-bottom : 10px;
	background-color : #fff;
}
#sub .normal-item h3 {
	padding : 10px 10px;
	font-weight : bold;
	font-size : 130%;
	border-top : 1px solid #ddd;
	background : #F5F8FA;
}
#sub .normal-item ul {
	padding : 7px 0px;
	border-top : 1px solid #ddd;
}
#sub .normal-item li {
	font-size: 130%;
	list-style-type: disc;
	margin-left : 20px;
}
#sub .normal-item .share-buttons{
	padding : 10px 10px;
	border-top : 1px solid #ddd;
	border-bottom : 1px solid #ddd;
}
#sub .normal-item .share-buttons .separator{
	visibility : hidden;
	padding: 0 5px;
	color : #ccc;
}
#post_ad {
	display : block;
}
#footer {
	padding : 20px 10px;
	background : #F5F8FA;
	border-top : #DDDDDD 1px solid;
}
#footer ul{

}
#footer li {
	list-style-type : none;
	display : inline-block;
	margin-right : 10px;
}
#footer li a {
	text-decoration : none;
	color : #666;
	font-size : 110%;
}

.adsense_pt1,
.adsense_pt2,
.adsense_pt3 {
	width : 300px;
	margin : 10px auto;
}
/* スマホの場合表示、PCで非表示パターン */
.adsense_pt2 {
	display : block;
}
/* PCの場合表示、スマホで非表示パターン */
.adsense_pt3 {
	display : none;
}
.adsense_view_pt1 {
	width : 320px;
	margin : 10px auto;
}
.clearfix:after {
	content: '';
	display: block;
	clear: both;
	height:0;
}
.clearfix { /zoom: 1; } /* IE */

/* PCのスタイル */
@media all and (min-width: 820px) {
	body {
		background-color : #F5F8FA;
	}
	#content {
		margin : 0px auto;
		max-width : 820px;
		padding : 10px;
	}
	#header {
		font-size : 110%;
		background-color : #fff;
		color : #5279E7;
		border-bottom : 1px solid #e3ded3;
	}
	#header-inner {
		margin : 0px auto;
		padding : 0px;
		max-width : 820px;
	}
	#header li a,
	#header li i,
	#header li a:visited{
		color : #5279E7;
	}
	#gnav {
		background : #fff;
	}
	#mainsection {
		width : 470px;
		float : left;
		border : 1px solid #ddd;
		border-radius : 3px;
		padding : 0 10px;
		background : #fff;
	}
	#sub {
		padding-top : 0;
		max-width : 310px;
		float : right;
		margin : 0;
	}
	#sub .explanation {
		border : 2px solid #5279E7;
		padding-bottom : 1em;
		background-color : #fff;
		border-radius : 3px;
		margin-bottom : 10px;
	}
	#sub .explanation h3 {
		border : 0px;
		background-color : #5279E7;
		color : #fff;
	}
	#sub .explanation .description {
		padding : 7px 5px;
	}
	#sub .normal-item {
		margin-bottom : 10px;
		border-radius : 3px;
		background-color : #fff;
		border : 1px solid #ddd;
		padding : 0 10px;
	}
	#sub .normal-item h3 {
		background : #fff;
		border-radius : 3px;
		border-top : none;
	}
	#sub .normal-item ul {
	/*	border-top : 1px solid #ddd; */
	}
	#sub .normal-item .share-buttons{
		padding : 7px 5px;
		border-top : 1px solid #ddd;
		border-bottom : none;
	}
	#caption {
		background-color : #fff;
	}
	#footer {
		margin : 10px auto 0;
		max-width : 820px;
		border : none;
		padding : 0 0 20px;
	}
	/* スマホの場合表示、PCで非表示パターン */
	.adsense_pt2 {
		display : none;
	}
	/* PCの場合表示、スマホで非表示パターン */
	.adsense_pt3 {
		display : block;
	}
	#post_ad {
		display : none;
	}
}

