<div id="mainsection">
	<div id="main">
		<div class="normal_sentence">
			<h2 class="normal_sentence">お問い合わせ</h2>
			<p>匿名ツイートに関するお問い合わせは以下のメールアドレスまでお願いいたします。</p>
			<p> simplestreetあっとgmailどっとこむ</p>
		<!-- .normal_sentence --></div>
	<!-- #main --></div>
<!-- #mainsection --></div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-62866190-3', 'auto');
  ga('send', 'pageview');

</script>
